<h1>投稿する</h1>

<div class="parent">


    <%= form_for @article do |f| %>
        <p>
          <%= f.text_field :title %>
        </p>

      <div id="editor">
        <p>
          <%= f.text_area :article, :size=>"50x30" %>
        </p>
      </div>

      <div>
        <%= f.submit "投稿する" %>
      </div>
    <% end %>

  <div id="preview"></div>
</div>
